{erl_opts,
 [debug_info,
  warn_export_vars,
  warn_missing_spec_all,
  warn_unused_import,
  warnings_as_errors,
  {i, "src"}]}.

{deps, []}.

{minimum_otp_vsn, "23"}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.7"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.1"},
  {rebar3_hank, "~> 1.2.2"}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

{edoc_opts,
 [{todo, true},
  {title, "{{ repo-name }}"},
  {overview, "priv/overview.edoc"},
  {includes, ["src"]},
  {preprocess, true},
  {packages, true},
  {subpackages, true},
  {source_path, "src"},
  {application, {{ repo-name }}},
  {new, true},
  report_missing_types]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias,
 [{test, [compile, format, lint, hank, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{format, [{files, ["*.config", "src/*", "test/*"]}]}.
