{erl_opts,
 [debug_info,
  warn_export_vars,
  warn_missing_spec_all,
  warn_unused_import,
  warnings_as_errors,
  {i, "src"}]}.

{deps, []}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

{alias, [{test, [compile, dialyzer, {ct, "--verbose"}, edoc]}]}.
