name: CI

on:
  push:
  pull_request:
    branches: [ $default-branch ]
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  ubuntu:
    name: "Ubuntu"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [23, 24, 25]
        rebar: [3.20.0]
    steps:
    - uses: actions/checkout@v3
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        rebar3-version: ${{matrix.rebar}}
    - name: Bootstrap
      if: always()
      run: ./bootstrap
    - name: Format check
      env:
        ERL_FLAGS: "-enable-feature all"
      run: rebar3 format --verify
    - name: Tests
      env:
        ERL_FLAGS: "-enable-feature all"
      run: rebar3 test

  windows:
    name: "Windows"
    runs-on: windows-latest
    strategy:
      matrix:
        otp: [23, 24, 25]
        rebar: [3.20.0]
    steps:
    - uses: actions/checkout@v3
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        rebar3-version: ${{matrix.rebar}}
    - name: Bootstrap
      if: always()
      shell: cmd
      run: sh bootstrap
    - name: Tests
      env:
        ERL_FLAGS: "-enable-feature all"
      run: rebar3 test
